<div class="list-group">
  <a href="#" class="list-group-item active">検索結果　一覧</a>
  <% @profiles.each do |profile| %>
  <a href="#" class="list-group-item">
    <h2><%= profile.name %></h2>
    <h3>
      <% if @profile.image? %><br>
        <%= image_tag @profile.image.url, :size => '250x250', :class => 'img-responsive' %>
      <% end %>
    </h3>
  </a>
  <% end %>
</div>
