<div class="list-group">
  <a href="#" class="list-group-item active">検索結果　一覧</a>
  <div class ="container">
    <% @profiles.each do |profile| %>
      <a href="#" class="list-group-item">
       <div class="row">

            <div class="col-sm-2">
              <h2><%= profile.name %></h2>
            </div>
            <div class="col-sm-2">
              <h2><%= profile.address %></h2>
            </div>
            <% if profile.birthday != nil %>
            <div class="col-sm-2">
              <h2><%= Time.now.year - profile.birthday.year %>歳<h2>
            </div>
            <%else%>
                <div class="col-sm-offset-2"></div>
            <%end%>
            <h3>
              <% if profile.image? %>
                <div class="col-sm-6">
                  <%= image_tag profile.image.url, :size => '250x250', :class => 'img-responsive' %>
                </div>
              <%else%>
                <div class="col-sm-offset-6"></div>
              <% end %>
            </h3>
          </div>
      </a>
    <% end %>
  </div>
</div>
