
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">プロフィール</h3>
  </div>
  <div class="panel-body">
    <%= render 'profile'%>
  </div>
</div>
</div>
