
<div class="list-group">
	<a href="#" class="list-group-item active">メッセージ一覧</a>
	<% @chatusers.each do |cu| %>
	<a href="/messages/<%= cu.user_id%>" class="list-group-item">
		<h2><%= cu.name %>さんとのメッセージ</h2>
	</a>
	<% end %>
</div>
