<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">hogeさんからのメッセージ</h3>
  </div>
  <div class="panel-body">
    <form name="mainForm">
      <div class="form-group row">
        <label for="input-date"  class="col-xs-4 col-form-label">日付</label>
        <div class="col-xs-8"><input type = "date" min="2014-01-01" max="2050-12-31" name="diaryday" value ="<%= @date %>" class="form-control input-sm"></div>
      </div>
      <div class="form-group row">
        <div class="col-xs-offset-4 col-xs-8">
          <input class="btn btn-primary btn-block" name="link" type=button value="日記を見る" onclick="jump()"  style="white-space: normal">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-offset-4 col-xs-8">
          <a class="btn btn-info btn-block" href="/diary_all" style="white-space: normal">トレーニング一覧</a>
        </div>
      </div>
    </form>
  </div>
</div>
